.dot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}
.high {
  background-color: red;
}

.medium {
  background-color: yellow;
}

.low {
  background-color: chartreuse;
}
